body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  border: 2px solid #000;
  padding: 5px;
  width: 70%;
}

.list :nth-child(even) {
  background-color: #eee;
}

.books {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
}

.remove {
  background-color: rgb(237, 137, 137) !important;
  color: white;
  box-shadow: 50px 80px 90px rgba(0, 0, 0, 0);
}

.forms {
  width: 50%;
}

input[type=text] {
  outline: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid purple;
}

#addBook {
  float: right;
  outline: none;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid purple;
}
